@mixin transition($trans: 0.3s){
  -webkit-transition-duration: $trans;
     -moz-transition-duration: $trans;
      -ms-transition-duration: $trans;
       -o-transition-duration: $trans;
          transition-duration: $trans;
}
@mixin transform($trform: rotate(360deg)){
  -webkit-transform: $trform;
     -moz-transform: $trform;
      -ms-transform: $trform;
       -o-transform: $trform;
          transform: $trform;
}
@mixin rounded($radius: 0.2rem){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin rounded-circle($radius: 20%){
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
       -o-border-radius: $radius;
          border-radius: $radius;
}
@mixin focus-btn($box-shadow: inset 0px 0px 2px 2px $base-color){
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
      -ms-box-shadow: $box-shadow;
       -o-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}
@mixin inner-shadow($box-shadow: inset 0px 0px 0px 1px $main-color){
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
      -ms-box-shadow: $box-shadow;
       -o-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}
@mixin outer-shadow($box-shadow: 0px 0px 10px 3px $main-color){
  -webkit-box-shadow: $box-shadow;
     -moz-box-shadow: $box-shadow;
      -ms-box-shadow: $box-shadow;
       -o-box-shadow: $box-shadow;
          box-shadow: $box-shadow;
}
