$base-color: #000000;
$main-color: #3FA8DF;
$color: #FFFFFF;
$light-black: #212529;
$gallery-border: #444d55;
$table-border: #32383E;
$overlay-color: rgba(44, 62, 80, 0.6);
$overlay-box-color: rgba(44, 62, 80, 0.8);
$overlay-img-color: rgba(44, 62, 80, 0.9);
$scroll-hover: rgba(63, 168, 223, 0.8);
$box-active: rgba(0,0,0, 0.7);
$base-font: 'Monda', sans-serif;
$sm-screen: 540px;
$sm-break-screen: 576px;
$md-screen: 721px;
$md-break-screen: 766px;
$lg-screen: 959px;
$lg-break-screen: 993px;
$xl-screen: 1199px;
$xl-extra-screen: 1201px;
$huge-screen: 1520px;
