$base-color: #000000;
$main-color: #3FA8DF;
$color: #FFFFFF;
$overlay-color: rgba(44, 62, 80, 0.6);
$overlay-box-color: rgba(44, 62, 80, 0.8);
$box-active: rgba(0,0,0, 0.7);
$base-font: 'Monda', sans-serif;
$sm-screen: 540px;
$sm-break-screen: 576px;
$md-screen: 721px;
$lg-screen: 960px;
$xl-screen: 1140px;
