.footer{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 150rem;
  background-color: $base-color;
  border-top: 3px solid $main-color;
  h5{
    color: $main-color;
  }
  .menu{
    margin-top: 3rem;
  }
  .menu-list{
    list-style: none;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 2rem;
    li{
      color: $color;
    }
    a{
      color: $color;
      text-decoration: none;
      &:hover{
        color: $main-color;
        @include transition();
      }
    }
    .current{
      color: $main-color;
    }
    .left{
      float: left;
    }
    .lu{
      margin-right: 0.7rem;
    }
    .right{
      float: right;
      margin-left: 0.5rem;
    }
  }
  .fb{
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  .social-list{
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem;
    li{
      display: inline-block;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      font-size: 2.5rem;
    }
    a{
      color: $color;
      &:hover{
        color: $main-color;
        @include transition();
      }
    }
  }
  .footer-img{
    width: 210px;
    height: 210px;
    display: block;
  }
  .copyright{
    text-align: right;
    color: white;
    border-top: 1px solid $main-color;
    h6{
      padding-top: 0.4rem;
      font-size: 0.9rem;
    }
  }
  @media only screen and (max-width: $md-screen){
    text-align: center;
    .menu-list{
      padding: 0;
      font-size: 1rem;
      a{
        &:hover{
          color: $color;
        }
        &:active{
          color: $main-color;
        }
      }
    }
    .social-list{
      a{
        &:hover{
          color: $color;
        }
        &:active{
          color: $main-color;
        }
      }
    }
    .footer-img{
      margin: 0 auto;
      width: 180px;
      height: 180px;
    }
  }
  @media only screen and (min-width: $md-screen) and (max-width: $md-break-screen){
     text-align: center;
     .menu-list{
       padding: 0;
       a{
         &:hover{
           color: $color;
         }
         &:active{
           color: $main-color;
         }
       }
     }
     .social-list{
       a{
         &:hover{
           color: $color;
         }
         &:active{
           color: $main-color;
         }
       }
     }
    .footer-img{
      margin: 0 auto;
    }
  }
}
