.logo-img{
  background: url("../../images/splash-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  width: 220px;
  height: 170px;
  position: absolute;
  top: 1%;
  left: 7%;
  z-index: 999;
}
.nav{
  background-color: $base-color;
  .nav-item{
    padding-bottom: 0.4rem;
    text-transform: uppercase;
  }
  .nav-link{
    background-size: 0;
    background-position: center center;
    color: $main-color;
    width: 100%;
    height: 5rem;
    padding-top: 2.3rem;
    padding-left: 2.45rem;
    padding-right: 2.45rem;
    padding-bottom: 3.5rem;
    @include transition();
    &:hover{
      color: $color;
      background: url("../../images/bg-logo.png");
      background-repeat: no-repeat;
      background-size: 7rem;
      background-position: center center;
    }
  }
}
.flags{
  position: absolute;
  padding-top: 2.1rem;
  left: 85%;
  a{
    text-decoration: none;
    display: inline-block;
  }
  .flag-gb{
    background: url("../../images/gb.png");
    @extend %flags-prop;
    &:hover{
      background: url("../../images/gb.png");
      @extend %flags-prop;
      @include transform();
    }
  }
  .flag-dk{
    background: url("../../images/dk.png");
    @extend %flags-prop;
    &:hover{
      background: url("../../images/dk.png");
      @extend %flags-prop;
      @include transform();
    }
  }
  %flags-prop{
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center center;
    width: 3rem;
    height: 2rem;
    @include transition();
  }
}
