/*
    Splash ApS SASS main file.
    Author: Ivan Ivanov

*/
/* This is the main SASS file where I am importing all the partials. */
/* In helpers folder I have mainly mixins and variables. */
/* In layout folder I decided to put only the header and footer partials. */
.header {
  position: relative;
  max-width: 150rem;
  margin: auto;
  background-color: #000000;
  background: linear-gradient(to top, #3FA8DF, #000000 40%); }
  @media only screen and (max-width: 721px) {
    .header {
      background: linear-gradient(to top, #3FA8DF, #000000 80%); } }

.logo-img {
  background: url("../../images/splash-logo.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  width: 220px;
  height: 170px;
  position: absolute;
  top: 5%;
  left: 7%;
  z-index: 999; }
  @media only screen and (max-width: 721px) {
    .logo-img {
      position: static;
      margin: 0 auto;
      width: 180px;
      height: 180px; } }
  @media only screen and (min-width: 721px) and (max-width: 959px) {
    .logo-img {
      width: 190px;
      top: -6%; } }
  @media only screen and (min-width: 959px) and (max-width: 1199px) {
    .logo-img {
      left: 3%;
      width: 190px; } }

.nav-menu {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0; }
  .nav-menu .nav-item {
    display: inline-block;
    padding-bottom: 0.5rem;
    text-transform: uppercase; }
  .nav-menu .nav-link {
    background-size: 0;
    background-position: center center;
    color: #3FA8DF;
    width: 100%;
    height: 5rem;
    padding-top: 2.3rem;
    padding-left: 2.45rem;
    padding-right: 2.45rem;
    padding-bottom: 3.5rem; }
  @media only screen and (max-width: 721px) {
    .nav-menu .nav-item {
      display: block;
      width: 100%;
      text-align: center; }
    .nav-menu .nav-link {
      height: 0;
      padding-top: 0.5rem;
      padding-bottom: 2rem;
      border: 1px solid transparent;
      color: #FFFFFF; }
      .nav-menu .nav-link:focus {
        border-top: 1px solid #FFFFFF;
        border-bottom: 1px solid #FFFFFF;
        outline: none; }
      .nav-menu .nav-link:hover {
        color: #FFFFFF;
        background: none; }
      .nav-menu .nav-link:active {
        color: #3FA8DF;
        background-color: #000000; } }
  @media only screen and (min-width: 721px) and (max-width: 959px) {
    .nav-menu {
      text-align: right; }
      .nav-menu .nav-link {
        padding-left: 1.9rem;
        padding-right: 2rem; }
        .nav-menu .nav-link:active {
          background: url("../../images/bg-logo.png");
          background-size: 6rem;
          background-repeat: no-repeat;
          background-position: center center;
          color: #FFFFFF; } }
  @media only screen and (min-width: 959px) {
    .nav-menu .nav-link:hover {
      color: #FFFFFF;
      background: url("../../images/bg-logo.png");
      background-repeat: no-repeat;
      background-size: 7rem;
      background-position: center center;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; } }

.flags {
  position: absolute;
  padding-top: 1rem;
  top: 18%;
  left: 85%; }
  .flags a {
    text-decoration: none;
    display: inline-block; }
  .flags .flag-gb {
    background: url("../../images/gb.png"); }
  .flags .flag-dk {
    background: url("../../images/dk.png"); }
  .flags .flag-gb, .flags .flag-dk {
    background-repeat: no-repeat;
    background-size: 2rem;
    background-position: center center;
    width: 3rem;
    height: 2rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  @media only screen and (max-width: 721px) {
    .flags {
      position: static;
      text-align: center;
      padding-top: 0.5rem;
      padding-bottom: 1rem;
      word-spacing: 1.8rem; }
      .flags .flag-gb:active {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg); }
      .flags .flag-dk:active {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg); } }
  @media only screen and (min-width: 721px) and (max-width: 959px) {
    .flags {
      position: static;
      text-align: right;
      padding-top: 0;
      padding-right: 1.5rem;
      padding-bottom: 1rem; }
      .flags .flag-gb:active {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg); }
      .flags .flag-dk:active {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg); } }
  @media only screen and (min-width: 959px) {
    .flags .flag-gb:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); }
    .flags .flag-dk:hover {
      -webkit-transform: rotate(360deg);
      -moz-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
      -o-transform: rotate(360deg);
      transform: rotate(360deg); } }

html {
  font-size: 1rem; }
  @media only screen and (max-width: 721px) {
    html {
      font-size: 0.9rem; } }

body {
  background-color: #000000;
  font-family: "Monda", sans-serif !important; }

.container-fluid {
  padding: 0; }

.row {
  margin: 0; }

::-webkit-scrollbar {
  width: 0.6rem; }

::-webkit-scrollbar-track {
  background: #FFFFFF; }

::-webkit-scrollbar-thumb {
  background: #3FA8DF; }

::-webkit-scrollbar-thumb:hover {
  background: rgba(63, 168, 223, 0.8); }

.hr-line {
  border: 1px solid #3FA8DF;
  background-color: #3FA8DF;
  margin-top: 0;
  width: 4rem; }

.footer {
  margin: 0 auto;
  padding: 0;
  width: 100%;
  max-width: 150rem;
  background-color: #000000;
  border-top: 3px solid #3FA8DF; }
  .footer h5 {
    color: #3FA8DF; }
  .footer .menu {
    margin-top: 3rem; }
  .footer .menu-list {
    list-style: none;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 2rem; }
    .footer .menu-list li {
      color: #FFFFFF; }
    .footer .menu-list a {
      color: #FFFFFF;
      text-decoration: none; }
    .footer .menu-list .current {
      color: #3FA8DF; }
    .footer .menu-list .left {
      float: left; }
    .footer .menu-list .lu {
      margin-right: 0.7rem; }
    .footer .menu-list .right {
      float: right;
      margin-left: 0.5rem; }
  .footer .fb {
    padding: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    text-align: center; }
  .footer .social-list {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 2rem; }
    .footer .social-list li {
      display: inline-block;
      margin-left: 1.5rem;
      margin-right: 1.5rem;
      font-size: 2.5rem; }
    .footer .social-list a {
      color: #FFFFFF; }
  .footer .footer-img {
    width: 210px;
    height: 210px;
    display: block; }
  .footer .copyright {
    text-align: right;
    color: white;
    border-top: 1px solid #3FA8DF; }
    .footer .copyright h6 {
      padding-top: 0.4rem;
      font-size: 0.9rem; }
  @media only screen and (max-width: 721px) {
    .footer {
      text-align: center; }
      .footer .menu-list {
        padding: 0;
        font-size: 1rem; }
        .footer .menu-list a:active {
          color: #3FA8DF; }
      .footer .social-list a:active {
        color: #3FA8DF; }
      .footer .footer-img {
        margin: 0 auto;
        width: 180px;
        height: 180px; } }
  @media only screen and (min-width: 721px) and (max-width: 766px) {
    .footer {
      text-align: center; }
      .footer .menu-list {
        padding: 0; }
        .footer .menu-list a:active {
          color: #3FA8DF; }
      .footer .social-list a:active {
        color: #3FA8DF; }
      .footer .footer-img {
        margin: 0 auto; } }
  @media only screen and (min-width: 766px) and (max-width: 959px) {
    .footer .menu-list a:active {
      color: #3FA8DF; }
    .footer .social-list a:active {
      color: #3FA8DF; }
    .footer .footer-img {
      margin-left: 1.5rem; } }
  @media only screen and (min-width: 959px) {
    .footer .menu-list a:hover {
      color: #3FA8DF;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
    .footer .social-list a:hover {
      color: #3FA8DF;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; } }

/* In components folder there are going to be popup models, etc. */
.side-button {
  position: fixed;
  left: -7.6rem;
  top: 42rem;
  padding: 0.7rem 0.4rem 0.7rem 1.3rem;
  width: 8.8rem;
  font-size: 0.9rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #3FA8DF;
  border: 1px solid #FFFFFF;
  z-index: 999;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }
  .side-button:active {
    -webkit-box-shadow: inset 0px 0px 2px 2px #000000;
    -moz-box-shadow: inset 0px 0px 2px 2px #000000;
    -ms-box-shadow: inset 0px 0px 2px 2px #000000;
    -o-box-shadow: inset 0px 0px 2px 2px #000000;
    box-shadow: inset 0px 0px 2px 2px #000000; }
  .side-button:hover {
    left: -0.5rem;
    background-color: #FFFFFF;
    color: #3FA8DF;
    border: 1px solid #3FA8DF;
    text-decoration: none; }
  .side-button i {
    font-size: 0.9rem;
    padding-left: 1.2rem; }
  @media only screen and (max-width: 540px) {
    .side-button {
      display: none; } }
  @media only screen and (min-width: 540px) and (max-width: 959px) {
    .side-button {
      display: none; } }

.divider-line, .divider-line-slide {
  margin: 0;
  padding: 0;
  border: 2px solid #3FA8DF;
  background-color: #3FA8DF; }

.divider-line-slide {
  border: 1px solid #3FA8DF;
  width: 40%; }

.overlay {
  background-color: rgba(44, 62, 80, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.carousel-inner .first-slide-img {
  background: url("../../images/splash-slider.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  display: block;
  width: 100%;
  height: 35rem; }
.carousel-inner .overlay-content {
  text-align: center;
  position: relative;
  top: 30%;
  color: #FFFFFF;
  text-transform: uppercase; }
  .carousel-inner .overlay-content h1 {
    font-size: 2.3rem;
    font-weight: bold; }
  .carousel-inner .overlay-content h2 {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 1rem; }
  .carousel-inner .overlay-content p {
    font-size: 0.9rem;
    margin-bottom: 5rem; }
  @media only screen and (max-width: 540px) {
    .carousel-inner .overlay-content {
      top: 17%; }
      .carousel-inner .overlay-content h1 {
        font-size: 2.1rem;
        padding-bottom: 0.5rem; }
      .carousel-inner .overlay-content h2 {
        font-size: 1.1rem; } }
.carousel-inner .next-slide {
  text-align: left;
  padding-left: 5rem; }
  .carousel-inner .next-slide h4, .carousel-inner .next-slide .prices h6, .prices .carousel-inner .next-slide h6, .carousel-inner .next-slide .gallery h6, .gallery .carousel-inner .next-slide h6, .carousel-inner .next-slide .about h6, .about .carousel-inner .next-slide h6, .carousel-inner .next-slide .faq-intro h6, .faq-intro .carousel-inner .next-slide h6 {
    text-transform: none; }
  .carousel-inner .next-slide p {
    padding-top: 0.5rem;
    text-transform: none;
    margin-bottom: 3rem; }
  .carousel-inner .next-slide a {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem; }
  .carousel-inner .next-slide i {
    padding-left: 0.7rem; }
  @media only screen and (max-width: 540px) {
    .carousel-inner .next-slide {
      margin-top: -2rem;
      padding-left: 1rem; } }
.carousel-inner .overlay-button {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 0.8rem;
  border: 2px solid #3FA8DF;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 1.7rem;
  padding-right: 1.7rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
  border-radius: 0.2rem; }
  .carousel-inner .overlay-button:active {
    background-color: #3FA8DF; }
  @media only screen and (min-width: 959px) {
    .carousel-inner .overlay-button:active {
      -webkit-box-shadow: inset 0px 0px 2px 2px #000000;
      -moz-box-shadow: inset 0px 0px 2px 2px #000000;
      -ms-box-shadow: inset 0px 0px 2px 2px #000000;
      -o-box-shadow: inset 0px 0px 2px 2px #000000;
      box-shadow: inset 0px 0px 2px 2px #000000; }
    .carousel-inner .overlay-button:hover {
      background-color: #3FA8DF;
      cursor: pointer;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; } }

.services {
  padding-top: 2rem; }
  .services h4, .services .prices h6, .prices .services h6, .services .gallery h6, .gallery .services h6, .services .about h6, .about .services h6, .services .faq-intro h6, .faq-intro .services h6 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; }
  .services .overlay-box {
    background: url("../../images/magnifier.png");
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(44, 62, 80, 0.8);
    width: 100%;
    height: 100%;
    border: 1px solid #3FA8DF;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .services .box {
    display: block;
    margin: 0 auto 1rem auto;
    padding-top: 1.4rem;
    width: 100%; }
  .services div.box-image {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    height: 13rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0; }
  .services .one {
    background: url("../../images/box-img-one.jpg"); }
  .services .two {
    background: url("../../images/box-img-two.jpg"); }
  .services .three {
    background: url("../../images/box-img-three.jpg"); }
  .services .four {
    background: url("../../images/box-img-four.jpg"); }
  .services .modal-overlay {
    background-color: rgba(44, 62, 80, 0.8);
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    cursor: pointer; }
  .services .modal-content {
    background-color: transparent;
    border: none; }
  .services .show-image {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 90%;
    height: 90%;
    max-height: 35rem; }
  .services .close-x {
    position: absolute;
    top: 2%;
    left: 93%;
    color: #FFFFFF;
    font-size: 4rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .services .close-x:hover {
      color: #3FA8DF; }
    @media only screen and (max-width: 721px) {
      .services .close-x {
        left: 89%; } }
  .services .box-heading {
    background-color: #3FA8DF;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem; }
  .services h6 {
    display: inline-block;
    padding-top: 0.4rem;
    padding-left: 0.4rem; }
  .services a {
    float: right;
    display: block;
    text-align: right;
    padding-top: 0.2rem;
    padding-right: 0.4rem;
    color: #000000; }
  .services i {
    vertical-align: middle;
    font-size: 1.5rem; }
  .services .service-click-box {
    color: #FFFFFF;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .services .service-click-box .click-box {
      visibility: visible;
      bottom: 18.5%;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; }
  .services .click-box {
    visibility: hidden;
    position: absolute;
    bottom: 50%;
    right: 7.5%;
    display: inline-block;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.7);
    color: #FFFFFF;
    width: 85%;
    padding: 1rem;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    border-radius: 0.2rem; }
    .services .click-box::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 8px;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.7) transparent transparent transparent; }
  @media only screen and (max-width: 540px) {
    .services .container {
      width: 90%;
      max-width: 23rem; } }
  @media only screen and (min-width: 540px) and (max-width: 576px) {
    .services .container {
      width: 63%; } }
  @media only screen and (min-width: 576px) and (max-width: 721px) {
    .services .container {
      width: 100%; } }
  @media only screen and (min-width: 959px) {
    .services .overlay-box:hover {
      background: none;
      background-size: 10rem;
      background-position: center center; } }

/* In pages folder there will be files containing the main content of each page. */
.articles {
  padding-top: 4rem;
  color: #FFFFFF;
  text-align: center;
  width: 70%;
  margin: 0 auto; }
  .articles .article-left {
    border-top: 1px solid #3FA8DF;
    border-left: 1px solid #3FA8DF;
    border-bottom: 1px solid #3FA8DF;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-left: 2rem; }
  .articles .article-right {
    border-top: 1px solid #3FA8DF;
    border-right: 1px solid #3FA8DF;
    border-bottom: 1px solid #3FA8DF;
    padding-top: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem; }
  @media only screen and (max-width: 540px) {
    .articles {
      width: 90%;
      max-width: 23rem; } }
  @media only screen and (min-width: 540px) and (max-width: 576px) {
    .articles {
      width: 63%; } }
  @media only screen and (min-width: 576px) and (max-width: 721px) {
    .articles {
      width: 100%; }
      .articles .article-left {
        padding-left: 1rem; }
      .articles .article-right {
        padding-right: 1rem; } }
  @media only screen and (min-width: 721px) and (max-width: 959px) {
    .articles {
      width: 100%; }
      .articles .container {
        max-width: 40rem; } }

.partners {
  margin-top: 4rem;
  background-color: #3FA8DF;
  background: linear-gradient(to top, #3FA8DF, #000000); }
  .partners .part-wrapper {
    width: 100%;
    color: white;
    padding-top: 2rem; }
    .partners .part-wrapper::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -18px;
      border-width: 18px;
      border-style: solid;
      border-color: #3FA8DF transparent transparent transparent;
      z-index: 999; }
  .partners h6 {
    padding-left: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
    font-size: 0.8rem; }
  .partners ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem; }
  .partners li {
    display: inline-block;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    opacity: 1; }
  .partners img {
    height: 90px;
    width: 90px; }
  @media only screen and (max-width: 576px) {
    .partners {
      margin-top: 1rem; }
      .partners h6 {
        text-align: center;
        padding-left: 0; }
      .partners .part-wrapper {
        width: 62%;
        margin: 0 auto; }
      .partners li:active {
        opacity: 0.7; } }
  @media only screen and (max-width: 721px) {
    .partners img {
      height: 80px;
      width: 80px; }
    .partners li:active {
      opacity: 0.7; } }
  @media only screen and (min-width: 721px) and (max-width: 959px) {
    .partners li:active {
      opacity: 0.7; } }
  @media only screen and (min-width: 959px) {
    .partners li:hover {
      opacity: 0.7;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -ms-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s; } }

#map {
  width: 100%;
  height: 25rem; }
  @media only screen and (max-width: 540px) {
    #map {
      height: 23rem; } }

.prices {
  margin-top: 4rem; }
  .prices h4, .prices h6 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; }
  .prices .information {
    margin-top: 2rem; }
  .prices h6 {
    text-transform: none; }
  .prices .car-sizes {
    color: #FFFFFF;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto; }
    .prices .car-sizes td {
      padding-left: 1rem; }

.bold-text {
  font-weight: bold; }

.price-list {
  margin-top: 3rem;
  margin-bottom: 4rem; }
  .price-list .table-row {
    background-color: #3FA8DF;
    text-align: center; }
  .price-list .th-first, .price-list .th-second {
    width: 70%;
    color: #000000; }
  .price-list .th-second {
    width: 30%; }
  .price-list .next-line {
    display: block; }
  .price-list .tab-space {
    padding-left: 2rem; }
  @media only screen and (max-width: 576px) {
    .price-list {
      font-size: 0.8rem; }
      .price-list td {
        padding-right: 0.50rem; }
      .price-list .container {
        max-width: 100%;
        padding: 0; }
      .price-list .tab-space {
        padding-left: 0; }
      .price-list #responsive {
        display: block; } }
  @media only screen and (min-width: 576px) and (max-width: 721px) {
    .price-list {
      font-size: 0.9rem; }
      .price-list .container {
        padding: 0; }
      .price-list .tab-space {
        padding-left: 0; }
      .price-list #responsive {
        display: block; } }
  @media only screen and (min-width: 721px) and (max-width: 766px) {
    .price-list {
      font-size: 0.9rem; }
      .price-list td {
        padding-right: 0.30rem; }
      .price-list .container {
        max-width: 100%;
        padding: 0; }
      .price-list .tab-space {
        padding-left: 0.3rem; } }
  @media only screen and (min-width: 766px) and (max-width: 959px) {
    .price-list {
      font-size: 0.9rem; }
      .price-list .container {
        max-width: 97%;
        padding: 0; }
      .price-list .tab-space {
        padding-left: 0.5rem; } }
  @media only screen and (min-width: 959px) and (max-width: 1199px) {
    .price-list {
      font-size: 0.9rem; }
      .price-list .container {
        max-width: 85%;
        padding: 0; }
      .price-list .tab-space {
        padding-left: 1rem; } }

.gallery {
  margin-top: 4rem; }
  .gallery h4, .gallery h6 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; }
  .gallery .space-top {
    margin-top: 2rem; }
  .gallery h6 {
    margin-top: 1rem;
    text-transform: none; }

.gallery-list .container {
  min-width: 85%; }
.gallery-list .gallery-bg {
  position: relative;
  z-index: 1;
  background-color: #212529;
  width: 100%;
  margin: 3.5rem auto;
  padding: 3rem 2rem 3rem 2.5rem;
  border: 1px solid #444d55; }
.gallery-list .overlay-img {
  display: inline-block;
  background-size: 6rem;
  background-repeat: no-repeat;
  background-position: center center;
  margin: 0.3rem 0.3rem 0.3rem 0.3rem;
  border: 3px solid #000000; }
.gallery-list .style-img {
  position: relative;
  z-index: -1;
  width: 100%;
  max-width: 270px;
  max-height: 180px;
  cursor: pointer;
  object-fit: cover; }
@media only screen and (max-width: 576px) {
  .gallery-list .container {
    padding: 0; }
  .gallery-list .gallery-bg {
    padding: 2rem 1rem 2rem 1rem;
    width: 100%;
    max-width: 23rem; }
  .gallery-list .overlay-img:active {
    -webkit-box-shadow: 0px 0px 10px 3px #3FA8DF;
    -moz-box-shadow: 0px 0px 10px 3px #3FA8DF;
    -ms-box-shadow: 0px 0px 10px 3px #3FA8DF;
    -o-box-shadow: 0px 0px 10px 3px #3FA8DF;
    box-shadow: 0px 0px 10px 3px #3FA8DF; }
  .gallery-list .style-img {
    margin: 0 auto;
    width: 100%;
    max-width: none; } }
@media only screen and (min-width: 576px) and (max-width: 766px) {
  .gallery-list .gallery-bg {
    padding: 2rem 1rem 2rem 1rem;
    max-width: 23rem; }
  .gallery-list .overlay-img:active {
    -webkit-box-shadow: 0px 0px 10px 3px #3FA8DF;
    -moz-box-shadow: 0px 0px 10px 3px #3FA8DF;
    -ms-box-shadow: 0px 0px 10px 3px #3FA8DF;
    -o-box-shadow: 0px 0px 10px 3px #3FA8DF;
    box-shadow: 0px 0px 10px 3px #3FA8DF; }
  .gallery-list .style-img {
    margin: 0 auto;
    width: 100%;
    max-width: none; } }
@media only screen and (min-width: 766px) and (max-width: 993px) {
  .gallery-list .gallery-bg {
    max-width: 41rem; }
  .gallery-list .overlay-img:active {
    -webkit-box-shadow: 0px 0px 10px 3px #3FA8DF;
    -moz-box-shadow: 0px 0px 10px 3px #3FA8DF;
    -ms-box-shadow: 0px 0px 10px 3px #3FA8DF;
    -o-box-shadow: 0px 0px 10px 3px #3FA8DF;
    box-shadow: 0px 0px 10px 3px #3FA8DF; } }
@media only screen and (min-width: 993px) and (max-width: 1199px) {
  .gallery-list .container {
    padding: 0; }
  .gallery-list .overlay-img:hover {
    background: url("../../images/magnifier.png");
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(44, 62, 80, 0.9);
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .gallery-list .gallery-bg {
    padding-left: 2.2rem;
    padding-right: 2rem;
    max-width: 58rem; } }
@media only screen and (min-width: 1201px) and (max-width: 1520px) {
  .gallery-list .container {
    padding: 0; }
  .gallery-list .overlay-img:hover {
    background: url("../../images/magnifier.png");
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(44, 62, 80, 0.9);
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .gallery-list .gallery-bg {
    padding-left: 2.2rem;
    padding-right: 2rem;
    width: 58rem; } }
@media only screen and (min-width: 1520px) {
  .gallery-list .overlay-img:hover {
    background: url("../../images/magnifier.png");
    background-size: 3rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: rgba(44, 62, 80, 0.9);
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
  .gallery-list .gallery-bg {
    width: 77rem; } }

.about {
  margin-top: 4rem; }
  .about h4, .about h6 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; }
  .about .space-top {
    margin-top: 2rem; }
  .about h6 {
    margin-top: 1rem;
    text-transform: none; }
  .about .about-image {
    margin-top: 4rem;
    background: url("../../images/about-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: block;
    width: 100%;
    height: 35rem; }
    @media only screen and (max-width: 540px) {
      .about .about-image {
        height: 18rem; } }
  .about .container {
    padding: 0; }
  .about .paragraphs {
    margin-top: 1rem; }
  .about .section-left {
    background-color: #FFFFFF;
    padding-top: 2rem;
    padding-bottom: 3rem; }
    .about .section-left h4, .about .section-left h6 {
      color: #000000; }
    .about .section-left p {
      padding-top: 1rem;
      padding-right: 3.2rem;
      padding-left: 3.2rem; }
  .about .small-padding {
    padding-left: 0.5rem;
    padding-right: 0.5rem; }
  .about .section-top, .about .section-bottom {
    color: #FFFFFF;
    padding-top: 2rem; }
  .about .office-portrait {
    margin-top: 1rem;
    margin-bottom: 4rem; }
    @media only screen and (max-width: 540px) {
      .about .office-portrait {
        max-width: 90%; } }
    @media only screen and (min-width: 540px) and (max-width: 576px) {
      .about .office-portrait {
        max-width: 80%; } }
    @media only screen and (max-width: 1199px) {
      .about .office-portrait {
        margin-top: 0; } }
  .about .portrait-picture {
    background: url("../../images/about-portrait.jpg");
    background-size: cover; }
  .about .office-picture {
    background: url("../../images/office-image.jpg");
    background-size: cover; }
  .about .portrait-picture, .about .office-picture {
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    width: 100%;
    height: 20rem; }
    @media only screen and (max-width: 540px) {
      .about .portrait-picture, .about .office-picture {
        height: 15rem; } }
    @media only screen and (max-width: 959px) {
      .about .portrait-picture, .about .office-picture {
        margin-top: 1rem; } }

.faq-intro {
  margin-top: 4rem; }
  .faq-intro h4, .faq-intro h6 {
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase; }
  .faq-intro .space-top {
    margin-top: 2rem; }
  .faq-intro h6 {
    margin-top: 1rem;
    text-transform: none; }
  .faq-intro a {
    color: #3FA8DF;
    text-decoration: none;
    border-bottom: 1px solid #3FA8DF;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .faq-intro a:active, .faq-intro a:hover {
      color: #FFFFFF;
      border-bottom: 1px solid #FFFFFF; }

.collapsible-dropdown {
  max-width: 150rem;
  margin: 4rem auto 0.5rem auto; }
  .collapsible-dropdown .drop-down {
    margin-bottom: 4rem; }
  .collapsible-dropdown .collapsible {
    background-color: #212529;
    color: #3FA8DF;
    cursor: pointer;
    padding-top: 1.1rem;
    padding-bottom: 0.7rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    width: 100%;
    border: 1px solid #FFFFFF;
    text-align: center;
    outline: none;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    border-radius: 0.2rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s; }
    .collapsible-dropdown .collapsible:after {
      content: '\002B';
      color: #FFFFFF;
      background-color: #000000;
      -webkit-border-radius: 20%;
      -moz-border-radius: 20%;
      -ms-border-radius: 20%;
      -o-border-radius: 20%;
      border-radius: 20%;
      width: 30px;
      height: 30px;
      line-height: 22px;
      font-size: 2.2rem;
      position: absolute;
      margin-top: -5px;
      margin-left: -15px; }
  .collapsible-dropdown .black {
    color: #FFFFFF;
    background-color: #000000;
    border: 1px solid #3FA8DF; }
  .collapsible-dropdown .plus-minus:after {
    content: "\2212"; }
  .collapsible-dropdown .drop-content {
    max-height: 0;
    overflow: hidden;
    color: #FFFFFF;
    background-color: #212529;
    -webkit-border-radius: 0.2rem;
    -moz-border-radius: 0.2rem;
    -ms-border-radius: 0.2rem;
    -o-border-radius: 0.2rem;
    border-radius: 0.2rem;
    -webkit-transition-duration: 0.3s;
    -moz-transition-duration: 0.3s;
    -ms-transition-duration: 0.3s;
    -o-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-box-shadow: inset 0px 0px 10px 1px #3FA8DF;
    -moz-box-shadow: inset 0px 0px 10px 1px #3FA8DF;
    -ms-box-shadow: inset 0px 0px 10px 1px #3FA8DF;
    -o-box-shadow: inset 0px 0px 10px 1px #3FA8DF;
    box-shadow: inset 0px 0px 10px 1px #3FA8DF; }
    .collapsible-dropdown .drop-content p {
      padding: 1.5rem 1.5rem 0.5rem 1.5rem; }
  @media only screen and (max-width: 576px) {
    .collapsible-dropdown {
      margin-bottom: 3rem; }
      .collapsible-dropdown .drop-down {
        margin-bottom: 1rem; } }
  @media only screen and (min-width: 576px) and (max-width: 766px) {
    .collapsible-dropdown {
      margin-bottom: 3rem; }
      .collapsible-dropdown .drop-down {
        margin-bottom: 1rem; } }
  @media only screen and (min-width: 766px) and (max-width: 959px) {
    .collapsible-dropdown {
      margin-bottom: 3rem; }
      .collapsible-dropdown .drop-down {
        margin-bottom: 3rem; } }
  @media only screen and (min-width: 959px) and (max-width: 1199px) {
    .collapsible-dropdown .collapsible:hover {
      color: #FFFFFF;
      background-color: #000000;
      border: 1px solid #3FA8DF; }
    .collapsible-dropdown .drop-down {
      margin-bottom: 3rem; }
    .collapsible-dropdown .drop-content p {
      padding-left: 1rem;
      padding-right: 1rem; } }
  @media only screen and (min-width: 1199px) {
    .collapsible-dropdown .container-fluid {
      width: 90%; }
    .collapsible-dropdown .collapsible:hover {
      color: #FFFFFF;
      background-color: #000000;
      border: 1px solid #3FA8DF; }
    .collapsible-dropdown .drop-down {
      margin-bottom: 3rem; }
    .collapsible-dropdown .drop-content p {
      padding-left: 1rem;
      padding-right: 1rem; } }

/*# sourceMappingURL=main.css.map */
