.about{
  margin-top: 4rem;
  h4{
    color: $color;
    text-align: center;
    text-transform: uppercase;
  }
  h6{
    @extend h4;
    margin-top: 2rem;
    text-transform: none;
  }
  .about-image{
    margin-top: 3rem;
    background: url("../../images/about-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:block;
    width: 100%;
    height: 35rem;
    @media only screen and (max-width: $sm-screen){
      height: 18rem;
    }
  }
  .container{
    padding: 0;
  }
  .paragraphs{
    margin-top: 1rem;
  }
  .section-left{
    background-color: $color;
    padding-top: 2rem;
    padding-bottom: 3rem;
    h4{
      color: $base-color;
    }
    p{
      padding-top: 1rem;
      padding-right: 3.2rem;
      padding-left: 3.2rem;
    }
  }
  .small-padding{
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }
  .section-top{
    color: $color;
    padding-top: 2rem;
  }
  .section-bottom{
    @extend .section-top;
  }
  .office-portrait{
    margin-top: 1rem;
    margin-bottom: 5rem;
    @media only screen and (max-width: $sm-screen){
      max-width: 90%;
    }
    @media only screen and (min-width: $sm-screen) and (max-width: $sm-break-screen){
      max-width: 80%;
    }
    @media only screen and (max-width: $xl-screen){
      margin-top: 0;
    }
  }
  .portrait-picture{
    background: url("../../images/about-portrait.jpg");
    background-size: cover;
    @extend %bottom-both-img;
  }
  .office-picture{
    background: url("../../images/splash-slider.png");
    background-size: cover;
    @extend %bottom-both-img;
  }
  %bottom-both-img{
    background-repeat: no-repeat;
    background-position: center center;
    display:block;
    width: 100%;
    height: 20rem;
    @media only screen and (max-width: $sm-screen){
      height: 15rem;
    }
    @media only screen and (max-width: $lg-screen){
      margin-top: 1rem;
    }
  }
}
