.gallery{
  margin-top: 4rem;
  h4{
    color: $color;
    text-align: center;
    text-transform: uppercase;
  }
  .space-top{
    margin-top: 2rem;
  }
  h6{
    @extend h4;
    margin-top: 1rem;
    text-transform: none;
  }
}
.gallery-list{
  .container{
    min-width: 85%;
  }
  .gallery-bg{
    background-color: #212529;
    width: 100%;
    margin: 3.5rem auto;
    padding: 3rem 2rem 3rem 2.5rem;
    border: 1px solid #444d55;
    position: relative;
    z-index: 1;
  }
  .overlay-img{
    display: inline-block;
    background-size: 6rem;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0.3rem 0.3rem 0.3rem 0.3rem;
    border: 3px solid $base-color;
    &:hover{
      background: url("../../images/magnifier.png");
      background-size: 3rem;
      background-repeat: no-repeat;
      background-position: center center;
      background-color: $overlay-box-color;
      margin: 0.3rem 0.3rem 0.3rem 0.3rem;
      @include transition();
    }
  }
  .style-img{
    position: relative;
    z-index: -1;
    width: 100%;
    max-width: 270px;
    max-height: 180px;
    cursor: pointer;
    object-fit: cover;
  }
}
