.gallery{
  margin-top: 4rem;
  h4{
    color: $color;
    text-align: center;
    text-transform: uppercase;
  }
  .space-top{
    margin-top: 2rem;
  }
  h6{
    @extend h4;
    margin-top: 1rem;
    text-transform: none;
  }
}
.gallery-list{
  .gallery-bg{
    background-color: #212529;
    width: 88%;
    margin: 5rem auto;
    padding: 3rem 2rem 3rem 2.5rem;
  }
  .style-img{
    width: 210px;
    height: 210px;
    margin: 0.3rem;
    cursor: pointer;
    transition-duration: 0.3s;
    border: 1px solid #3FA8DF;
    object-fit: cover;
    &:hover{
      transform: scale(0.95);
    }
  }
}
