.services{
  h4{
    padding-top: 2rem;
    color: $color;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: -5px;
  }
  hr{
    border: 1px solid $color;
    background-color: $color;
    width: 3rem;
    margin-bottom: 2.3rem;
  }
  .overlay-box{
    background: url("../../images/magnifier.png");
    background-size: 4rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: $overlay-box-color;
    width: 100%;
    height: 100%;
    border: 1px solid $main-color;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    @include transition();
    &:hover{
      background: none;
      background-size: 10rem;
      background-position: center center;
    }
  }
  .box{
    display: block;
    margin: 0 auto 1rem auto;
    width: 100%;
  }
  div.box-image{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    cursor: pointer;
    height: 13rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .one{
    background: url("../../images/box-img-one.jpg");
  }
  .two{
    background: url("../../images/box-img-two.jpg");
  }
  .three{
    background: url("../../images/box-img-three.jpg");
  }
  .four{
    background: url("../../images/box-img-four.jpg");
  }
  .box-heading{
    background-color: $main-color;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
  }
  h6{
    display: inline-block;
    padding-top: 0.4rem;
    padding-left: 0.4rem;
  }
  a{
    float: right;
    display: block;
    text-align: right;
    padding-top: 0.2rem;
    padding-right: 0.4rem;
    color: $base-color;
    &:hover{
      color: $color;
      @include transition();
    }
  }
  i{
    vertical-align: middle;
    font-size: 1.5rem;
  }
}
