.prices{
  margin-top: 4rem;
  h4{
    color: $color;
    text-align: center;
    text-transform: uppercase;
  }
  .information{
    margin-top: 2rem;
  }
  h6{
    @extend h4;
    text-transform: none;
  }
  .car-sizes{
    color: $color;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    td{
      padding-left: 1rem;
    }
  }
}
.bold-text{
  font-weight: bold;
}
.price-list{
  margin-top: 4rem;
  margin-bottom: 4rem;
  .table-row{
    background-color: $main-color;
    text-align: center;
  }
  .th-first{
    width: 70%;
    color: $base-color;
  }
  .th-second{
    @extend .th-first;
    width: 30%;
  }
  .next-line{
    display: block;
  }
  .tab-space{
    padding-left: 2rem;
  }
  @media only screen and (max-width: $sm-break-screen){
    font-size: 0.8rem;
    td{
      padding-right: 0.50rem;
    }
    .container{
      max-width: 100%;
      padding: 0;
    }
    .tab-space{
      padding-left: 0;
    }
    #responsive{
      display: block;
    }
  }
  @media only screen and (min-width: $sm-break-screen) and (max-width: $md-screen){
    font-size: 0.9rem;
    .container{
      padding: 0;
    }
    .tab-space{
      padding-left: 0;
    }
    #responsive{
      display: block;
    }
  }
  @media only screen and (min-width: $md-screen) and (max-width: $md-break-screen){
    font-size: 0.9rem;
    td{
      padding-right: 0.30rem;
    }
    .container{
      max-width: 100%;
      padding: 0;
    }
    .tab-space{
      padding-left: 0.3rem;
    }
  }
  @media only screen and (min-width: $md-break-screen) and (max-width: $lg-screen){
    font-size: 0.9rem;
    .container{
      max-width: 97%;
      padding: 0;
    }
    .tab-space{
      padding-left: 0.5rem;
    }
  }
  @media only screen and (min-width: $lg-screen) and (max-width: $xl-screen){
    font-size: 0.9rem;
    .container{
      max-width: 85%;
      padding: 0;
    }
    .tab-space{
      padding-left: 1rem;
    }
  }
}
