.divider-line{
  margin: 0;
  padding: 0;
  border: 2px solid $main-color;
  background-color: $main-color;
}
.divider-line-slide{
  @extend .divider-line;
  border: 1px solid $main-color;
  width: 40%;
}
.overlay{
  background-color: $overlay-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel-inner{
  div.slide-img{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:block;
    width: 100%;
    height: 35rem;
  }
  .first{
    background: url("../../images/splash-slider.png");
  }
  .second{

  }
  .third{
    background: url("../../images/third-slide.jpg");
  }
  .main-content{
    text-align: center;
    position: relative;
    top: 30%;
    color: $color;
    text-transform: uppercase;
    h1{
      font-size: 2.3rem;
      font-weight: bold;
    }
    h2{
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }
    p{
      font-size: 0.9rem;
      margin-bottom: 5rem;
    }
    @media only screen and (max-width: $sm-screen){
      top: 17%;
      h1{
        font-size: 2.1rem;
        padding-bottom: 0.5rem;
      }
      h2{
        font-size: 1.1rem;
      }
    }
  }
  .next-content{
    text-align: left;
    padding-left: 5rem;
    position: relative;
    top: 30%;
    color: $color;
    text-transform: uppercase;
    h4{
      text-transform: none;
    }
    p{
      padding-top: 0.5rem;
      text-transform: none;
      margin-bottom: 3rem;
    }
    a{
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      padding-left: 1rem;
      padding-right: 1rem;
    }
    i{
      padding-left: 0.7rem;
    }
    @media only screen and (max-width: $sm-screen){
      top: 9%;
      padding-left: 1rem;
    }
    @media only screen and (min-width: $sm-screen) and (max-width: $sm-break-screen){
      padding-left: 1rem;
    }
    @media only screen and (min-width: $sm-screen) and (max-width: $md-screen){
      top: 20%;
    }
  }
  .overlay-button{
    text-decoration: none;
    color: $color;
    font-size: 0.8rem;
    border: 2px solid $main-color;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
    @include rounded();
    &:active{
      background-color: $main-color;
    }
    @media only screen and (min-width: $lg-screen){
      &:active{
        @include focus-btn();
      }
      &:hover{
        background-color: $main-color;
        cursor: pointer;
        @include transition();
      }
    }
  }
}
