.divider-line{
  margin: 0;
  padding: 0;
  border: 2px solid $main-color;
  background-color: $main-color;
}
.carousel-inner{
  img{
    background: url("../../images/splash-slider.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:block;
    width: 100%;
    height: 37rem;
  }
}
