.divider-line{
  margin: 0;
  padding: 0;
  border: 2px solid $main-color;
  background-color: $main-color;
}
.overlay{
  background-color: $overlay-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 998;
}
.carousel-indicators{
  z-index: 999;
}
.carousel-inner{
  img{
    background: url("../../images/splash-slider.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display:block;
    width: 100%;
    height: 37rem;
  }
}
